html, body {
  height: 100%;
  padding-top: $header-height;
}
.app-container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $footer-height * -1;
}
.app-footer,
.app-footer-push {
  height: $footer-height;
}

// Portrait phone to landscape tablet
@media (max-width: 1024px) {
  .app-container{
    margin-bottom: 0;
  }
  .app-footer-push,
  .app-footer{
    display: none;
  }
}