/* Document
----------------------------------------------- */
html, body {
  height: 100%;
}
body{
  &.layout--default{
    padding-top: $header-height;
  }
  &.layout--app{
    min-width: 768px;
  }
}
/* Header
----------------------------------------------- */
.header{
  @include clearfix;
  background: #fff;
  border-bottom: 1px solid $border-color-light;
  left: 0;
  min-height: $header-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}
/* Footer
----------------------------------------------- */
.footer,
.footer-push {
  height: $footer-height;
}
@media (max-width: 1024px) {
  .page-container{
    margin-bottom: 0;
  }
  .footer-push,
  .footer{
    display: none;
  }
}
/* Page Layout
----------------------------------------------- */
.page-container{
  @include clearfix;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $footer-height * -1;
  padding: 0 $space-m;
  max-width: $page-max-width;
}
.page-content{
  min-height: 400px;
  padding: $space-h 0;
}
/* Application Layout
----------------------------------------------- */
.placeholder{
  color: $text-color-light;
  border-bottom: 1px solid $border-color;
  height: 100px;
  position: relative;
  .placeholder__label{
    background: $bg-color-dark;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-bottom-right-radius: $radius-m;
    display: inline-block;
    font-size: 12px;
    left: 0;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 0;
  }
}
.app-container{
}
.app-sidebar{
  @extend .placeholder;
}
.app-header{
  @extend .placeholder;
}
.app-intro{
  @extend .placeholder;
}
.app-insight{
  @extend .placeholder;
}
.app-content{
  @include span-columns(12);
  @include row(table);
  height: 500px;
}
.app-chart{
  @extend .placeholder;
  @include span-columns(8);
}
.app-filter{
  @extend .placeholder;
  @include span-columns(4);
  border-left: 1px solid $border-color;
}