*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  background:   $bg-color;
  color:        $text-color;
  font-family:  $base-font-family;
  font-size:    $base-font-size;
  line-height:  $base-line-height;
}