/* Headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: #aaa;
  }
}

h1,
h2,
h3 {
  margin-top: $computed-line-height;
  margin-bottom: ($computed-line-height / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: ($computed-line-height / 2);
  margin-bottom: ($computed-line-height / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

/* Elements
----------------------------------------------- */
p {
  margin: 0 0 ($computed-line-height / 2);
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

hr {
  margin-top:    $computed-line-height;
  margin-bottom: $computed-line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

dl {
  margin-bottom: $computed-line-height;
}
dt,
dd {
  margin-bottom: $base-line-height;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}