.page{
  .paragraph--lead {
    margin-bottom: $computed-line-height;
    font-size: floor($base-font-size * 1.15);
    font-weight: 200;
    line-height: 1.4;
  }
  .dl--horizontal {
    dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: ($component-offset-h - 20);
    }
    dd {
      @include clearfix();
      margin-left: $component-offset-h;
    }
  }
}