<div class="navbar" role="navigation">
  <div class="navbar__header">
    <a class="navbar__brand" href="/">Science Visualization</a>
  </div>
  <div class="navbar__content">
    <ul class="navbar__list">
      <%= pages_menu %>
    </ul>
  </div>
  <div class="navbar__aside">
    <ul class="navbar__list">
      <li class="navbar__item "><a class="navbar__link" href="http://benjaminwiederkehr.com/">Contact</a></li>
    </ul>
  </div>
</div>