---
title: Prototypes
scripts: [main]
position: 2
---

<header data-view="app-header" class="app-header">
  <%= render_partial :navbar %>
</header>
<div class="app-container">
  <div data-view="app-content" class="app-content"><div class="loader full">Lade…</div></div>
  <div class="app-footer-push"></div>
</div>
<footer data-view="app-footer" class="app-footer">
  <%= render_partial :credits %>
</footer>