---
title: Introduction
scripts: []
---
<div class="page">
  <div class="container">
    <div class="row">
      <div class="span12 mth">
        <h2>Introduction</h2>
        <p class="lead">With my master’s thesis I want to find out what is the specific information, how does it need to be presented and how does a user have to be able to interact with it to gain actionable and relevant knowledge about their personal financial information. In a series of experiments with interactive prototypes I will focus on the interaction with the visu- alizations and keep the information and its representation constant. That means the created prototypes represent the information in the same way but provide other means of interacting with them.</p>
      </div><!-- .span4 -->
      <div class="span12">
        <p class="lead">My general hypothesis is that the closer the action and the reaction are connected, the simpler the interface feels, the more it engages the user, the quicker an answer can be found. In the specific use case of the experiments, this means that the interaction techniques should be conducted using established multi-touch gestures instead of relying on sepa- rated interface elements to be operated using point and click interaction. The data should feel like an object that can be modified with the user’s own hands without the need to control it with generic interface elements.</p>
      </div>
    </div><!-- .row -->
  </div> <!-- .container -->
</div><!-- .page -->